*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Neutra2text book,sans-serif;;
}
header{
    height: 78vh;
    width: 100%;
    background: rgba(148, 116, 20, 0.369);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#background-video{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.header_container{
    border: 3px solid rgb(255, 217, 0);
    width: 95vw;
    height: 65vh;
}
.header_container h1{
display: flex;
text-align: center;
align-items: center;
justify-content: center;
padding-top: 300px;
font-size: var(--size-9xl);
color: rgba(255, 217, 0, 0.457);
/* color: var(--clr-gold); */
overflow: hidden;
}
.header_container p{
display: flex;
align-items: center;
justify-content: center;
text-align: center;
padding-top: 60px;
font-size: var(--size-5xl);
color: rgba(255, 217, 0, 0.457);
/* color: var(--clr-gold); */
}