/* This is the Setting or ALL Elements in the Section */
#Header_Section {
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 15px;
    width:  98vw;
    height: 25vh;
    background-color: var(--clr-dark);
}

#Header_Section img {
    width: 20vw;
    height: 20vh;
    object-fit: cover;
    border-radius: 30px;
}

.Header_container {
    display:flex;
    justify-content: space-between;
    align-items:center; 
}

.secondary-section {
    text-align: right;
    justify-content: space-between;
    align-items: center;
    font-size: var(--size-1xl);
    color: red;
}