#Navigation {
    background-color: var(--clr-dark);
}

.Navigation_headline {
    color: var(--clr-gold);
    font-size: var(--size-4xl);
}

.Navigation_container {
    color: var(--clr-text-color);
    display: flex;
    justify-content: space-between;
}


.Header_list {
    padding: 0.5rem;
    text-decoration: none;
    margin: 0.5rem;
    display: flex;
}
ul > li > a {
    color: var(--clr-text-color);
}

.Nav-Header_list {
display: flex;
justify-content: space-between;
}

.btn {
    color: var();
}