   html {
    box-sizing: inherit;
}
        /* All Setting vor The Navigation in the head */
#Navigations_Header {
position: absolute;
width: 99vw;
height: 28vh;
border: 2px solid;
border-radius: 15px;
background-color: var(--clr-gold);
font-family: 'Philosopher', sans-serif;
}
.navigation_container {
    display: flex;
    justify-content: space-between;
}
.navigation-header {
    display:inline;
   
}
.navigation-headline {
    padding: 15px;
    font-size: var(--size-6xl)
}
li {
    padding: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: var(--size-3xl);
}
li a {
    color: var(--clr-dark);
}
li a:hover {
background-color: var(--clr-light);
color:black;
border: 1px solid grey;
border-radius: 15px;
text-shadow: 20px 20px 20px;
}


