body{
    background: var(--clr-dark);
}
.Lifestyle-Titel{
    width: 99.2vw;
    height: 50vh;
    object-fit: cover;
    box-shadow: 15px 15px 15px beige;
}
.Lifestyle-container{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    overflow: hidden;
}
.Lifestyle-container img{
    width: 50vw;
    height: 100%;
    border: 1px solid gold;
    border-radius: 25px;
}
.Lifestyle-container h2 {
    font-size: var(--size-5xl);
    color: var(--clr-light-gold);
    text-shadow: 15px 15px 15px  gold;
}
.Lifestyle-container h3 {
    font-size: var(--size-4xl);
    color: var(--clr-light-gold);
    text-shadow: 15px 15px 15px gold;
    padding-top: 24px;
}
.Lifestyle-container p{
    font-size: var(--size-xl);
    color: var(--clr-text-color);
    font-weight:600;
}
.Lifestyle-Weiterleiten{
    display: block;
    border: 1px solid goldenrod;
    background: rgba(21, 22, 21, 0.627);
    margin-bottom: 12px;
    margin-left: 80px;
    width: 90vw;
    height: 25vh;
    box-shadow: 15px 15px 15px gold;
}
.Lifestyle-Weiterleiten h3{
    font-size: var(--size-3xl);
    display: inline-block;
    margin-inline: 12px;
    padding-inline: 25px;
    border: 2px solid gold;
    border-radius: 25px;
    background:  rgb(205, 179, 13);
    margin-top: 12px;
    color: var(--clr-text-color);
    padding-bottom: 15px;
}